{% extends 'base.html.twig' %}

{% block title %}New UserBuyer{% endblock %}

{% block body %}
    <h1>Créer votre profil </h1>

    {{ include('user_buyer/_form.html.twig') }}

    <a href="{{ path('app_user_buyer_index') }}">back to list</a>
{% endblock %}
