{% extends 'seller/index.html.twig' %}

{% block title %}Gestions des produit{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1 class='text-center'>{{message}} des Produits</h1>
    <div>{{form(form)}}</div>

</div>
{% endblock %}