{% block body %}

<h1>Vos images</h1>

<div class="container p-5 m-3 border border-1 rounded border-secondary">
    <div class="row justify-content-between">
            <div class="row justify-content-between text-center">
                <div class="col-md-6">
                    <a class="btn btn-info mb-3" href="{{ url('app_seller_media_create') }}">Ajouter une photo</a>
                    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
                        {% for media in medias %}
                        <div class="col mb-3">
                            <div class="card h-100 w-100">
<img src="{{ asset('uploads/' ~ media.getFilePath()) }}" class="card-img-top img-fluid custom-height" alt="{{ media.getDescription() }}">
                                <div class="card-body">
                                    <a class="btn btn-danger" href="{{ url('app_seller_media_delete', {'id': media.id}) }}">Supprimer cette photo</a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        
    </div>
</div>

{% endblock %}
